extends layout

block content
  h1= title
  p Informações sobre comida.
  
  .cards-container
    .card
      .card-icon(aria-hidden='true') 🍕
      h2 Pizza
      p Deliciosa pizza italiana com diversos sabores.
    
    .card
      .card-icon(aria-hidden='true') 🍔
      h2 Hambúrguer
      p Clássico hambúrguer americano.
    
    .card
      .card-icon(aria-hidden='true') 🍣
      h2 Sushi
      p Pratos japoneses frescos e saborosos.