doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.site-header
      nav.nav
        a(href='/') Home
        a(href='/comida') Comida
        a(href='/esportes') Esportes

    main
      block content

    footer.site-footer App Pug - Conteúdo dinâmico
