extends layout

block content
  h1= title
  p Pratos deliciosos de várias culinárias.
  
  .cards-container
    .card
      .card-icon(aria-hidden='true') 🍝
      h2 Lasanha
      p Massa italiana recheada com molho e queijo.
    
    .card
      .card-icon(aria-hidden='true') 🫘
      h2 Feijoada
      p Prato brasileiro tradicional com feijão e carnes.
    
    .card
      .card-icon(aria-hidden='true') 🦐
      h2 Paella
      p Prato espanhol com arroz e frutos do mar.