extends layout

block content
  h1= title
  p Pratos deliciosos de várias culinárias.

  .cards-container
    if pratos
      each prato in pratos
        .card
          .card-icon(aria-hidden='true')
            if prato.icon
              = prato.icon
            else
              | 🍽️
          h2= prato.nome
          p= prato.descricao
      .card
        .card-icon(aria-hidden='true') 🧂
        h2 Sugestões
        p Temperos e acompanhamentos que combinam com cada prato.
    else
      p Nenhum prato disponível.